<div class="container__list">
    <ul>
        <li><img 
            src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png" alt="Icone editar"><a>Editar Perfil</a></li>
        <li><img 
            src="https://cdn-icons-png.flaticon.com/512/5106/5106002.png" alt="Icone recados"><a>Recados</a></li>
        <li><img 
            src="https://cdn-icons-png.flaticon.com/512/3342/3342137.png" alt="Icone galeria"><a>Galeria</a></li>
        <li><img 
            src="https://cdn-icons-png.flaticon.com/512/792/792101.png"   alt="Icone depoimentos"><a>Depoimentos</a></li>
    </ul>
</div>

