<div class="container__rates">
    <div class="rates__fas rates">
        <p>Fãs</p>
        <div class="icon__star icon">
            <img src="https://cdn-icons-png.flaticon.com/512/7699/7699326.png" alt="Icone estrela">
            <p>(85)</p>
        </div>
    </div>
    <div class="rates__reliable rates">
        <p>Confiável</p>
        <div class="icon__smile icon">
            <img src="https://cdn-icons-png.flaticon.com/512/3480/3480315.png" alt="Icone sorriso">
            <img src="https://cdn-icons-png.flaticon.com/512/3480/3480315.png" alt="Icone sorriso">
            <img src="https://cdn-icons-png.flaticon.com/512/3480/3480315.png" alt="Icone sorriso">            
        </div>
    </div>
    <div class="rates__cool rates">
        <p>Legal</p>
        <div class="icon__cool icon">
            <img src="https://cdn-icons-png.flaticon.com/512/5261/5261490.png" alt="Icone curtida">
            <img src="https://cdn-icons-png.flaticon.com/512/5261/5261490.png" alt="Icone curtida">
            <img src="https://cdn-icons-png.flaticon.com/512/5261/5261490.png" alt="Icone curtida">

        </div>
    </div>
    <div class="rates__hearty rates">
        <p>Amável</p>
        <div class="icon__hearty icon">
            <img src="https://cdn-icons-png.flaticon.com/512/2589/2589054.png" alt="Icone coração">
            <img src="https://cdn-icons-png.flaticon.com/512/2589/2589054.png" alt="Icone coração">
            <img src="https://cdn-icons-png.flaticon.com/512/2589/2589054.png" alt="Icone coração">
        </div>
    </div>
</div>

<!--             
    <img src="https://cdn-icons-png.flaticon.com/512/5261/5261215.png" alt="Icone curtida">    
    <img src="https://cdn-icons-png.flaticon.com/512/2589/2589054.png" alt="Icone coração">
    <img src="https://cdn-icons-png.flaticon.com/512/2589/2589197.png" alt="Icone coração">
    <img src="https://cdn-icons-png.flaticon.com/512/3483/3483089.png" alt="Icone sorriso">
-->