<div class="container__infos">
    <table class="infos">
        <tr>
            <td class="col1">Relacionamento</td>
            <td class="col2">{{relationship}}</td>
        </tr>
        <tr>
            <td class="col1">Quem sou eu</td>
            <td class="col2">{{who_am_I}}</td>
        </tr>
        <tr>
            <td class="col1">Local</td>
            <td class="col2">{{local}}</td>
        </tr>
        <tr>
            <td class="col1">Ocupação</td>
            <td class="col2">{{occupation}}</td>
        </tr>
        <tr>
            <td class="col1">Interesses</td>
            <td class="col2">{{interests}}</td>
        </tr>
        <tr>
            <td class="col1">Músicas</td>
            <td class="col2">{{musics}}</td>
        </tr>
        <tr>
            <td class="col1">Filmes e Séries</td>
            <td class="col2">{{films}}</td>
        </tr>
        <tr>
            <td class="col1">Livros</td>
            <td class="col2">{{books}}</td>
        </tr>
    </table>
</div>